.detailtextfont {
  font-weight: 500;
}

.detailbackgroudcolor {
  background-color: rgba(0, 0, 0, 0.03);
  margin-bottom: 8px;
}

.policyheadercolor {
  background-color: rgb(118, 118, 118) !important;
}

.panelContainer .accordion {
  background-color: #404b5f;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border-color: white;
  border-width: thin;
  outline: none;
  transition: 0.4s;
  padding: 12px 10px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  margin-bottom: 10px;
}

.panelContainer .active,
.panelContainer .accordion:hover {
  background-color: #16a4fa;
  border: none;
}

.panel {
  background-color: white;
  display: none;
  overflow: hidden;
  border: none;
}

.paneldet {
  background-color: white;
  display: block;
  overflow: hidden;
  border: none;
}

.panelContainer .accordion:after {
  content: "\002B";
  color: #ffffff;
  font-weight: bold;
  font-size: 20;
  float: right;
  margin-left: 5px;
  border: none;
}

.panelContainer .accordion.active:after {
  content: "\2212";
  border: none;
}

.policyDetailInfoSection {
  color: white;
  background-color: darkgray;
  cursor: pointer;
  text-align: left;
  border-color: white;
  border-width: thin;
  outline: none;
  transition: 0.4s;
  padding: 12px 10px;
  font-size: 16px;
  font-weight: 700;
  border: none;
}

.inner {
  margin: 0 auto;
  padding: 0 15px;
  font-size: 14;
  position: relative;
}

#policypanel h1,
h2 {
  margin: 40px 0 30px;
  text-align: left;
  font-size: 24px !important;
  font-weight: 400 !important;
  color: #404b5f;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0px;
}

button a {
  color: white !important;
  text-decoration: none !important;
}
